<template>
  <v-container>
    <v-layout wrap>
      <v-flex lg3 md3 sm4 xs6 v-for="(prd, idx) in this.products" :key="idx">
        <v-card>
          <v-img class="white--text align-end" height="200px" :src="prd.image">
          </v-img>
          <v-card-title>{{ prd.name }}</v-card-title>
          <v-card-subtitle
            style="
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            "
            class="pb-0"
          >
            {{ prd.description }}
          </v-card-subtitle>

          <v-card-text class="text--primary">
            <div>Price: {{ prd.price }}</div>

            <div>Qty: {{ prd.qty }}</div>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="orange"
              :to="{ name: 'product_view', params: { pid: prd.id } }"
              text
            >
              View
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
const URL = "http://localhost:3000";

export default {
  data: () => ({
    search: "",
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: "ID",
        align: "start",
        sortable: false,
        value: "id",
      },
      { text: "Name", value: "name" },
      { text: "Description", value: "description" },
      { text: "Qty", value: "qty" },
      { text: "Price", value: "price" },
      { text: "Actions", value: "actions", sortable: false },
    ],
    products: [],
    editedIndex: -1,
    editedItem: {
      id: 0,
      name: "",
      description: "",
      qty: 0,
      price: 0,
      image: "",
    },
    defaultItem: {
      id: 0,
      name: "",
      description: "",
      qty: 0,
      price: 0,
      image: "",
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Product" : "Edit Product";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    async initialize() {
      console.log("initialize");
      const res = await this.$axios.get(URL + "/api/products");
      this.products = res.data.data;
    },

    editItem(item) {
      this.editedIndex = this.products.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    async deleteItem(item) {
      this.editedIndex = this.products.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
      const res = await this.$axios.delete(
        URL + "/api/products/" + this.editedItem.id
      );
    },

    deleteItemConfirm() {
      this.products.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    async save() {
      if (this.editedIndex > -1) {
        Object.assign(this.products[this.editedIndex], this.editedItem);
        const res = await this.$axios.put(
          URL + "/api/products/" + this.editedItem.id,
          this.editedItem
        );
        console.log(res);
      } else {
        this.products.push(this.editedItem);
        const res = await this.$axios.post(
          URL + "/api/products",
          this.editedItem
        );
        console.log(this.editedItem);
        console.log(res);
      }
      this.close();
    },
  },
};
</script>